html,
body {
  background-color: #ffffff;
  color: #1e1c1c;
  font-family: "Work Sans";
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100%;
}

.banner {
  width: 40%;
  background-color: #e0dfdc;
}

.banner-text {
  width: 88%;
  margin: 0 auto;
  top: 0;
  margin-top: 36%;
  text-align: left;
  font-weight: 600;
}

.banner-name {
  font-size: 9vw;
  margin-bottom: -3%;
}

.banner-founders {
  font-size: 4.25vw;
  margin-left: 1%;
}

.banner-location {
  font-size: 4.25vw;
  color: #cdccc9;
  margin-left: 1%;
}

.content {
  width: 60%;
}

.header {
  width: 100%;
  display: flex;
  height: 8%;
  font-weight: 600;
  font-size: 1vw;
  text-align: left;
  border-bottom: 3px solid #1e1c1c;
}

.ankith-words {
  width: 20%;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.john-words {
  width: 20%;
  margin-left: 1%;
  display: flex;
  align-items: center;
}

.recruiting-header {
  width: 60%;
  right: 0;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.investments {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  font-size: 2vw;
  font-weight: 400;
}

.investment-content {
  overflow: auto;
  height: 80vh;
  width: 100%;
  margin-top: 3%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.investment-content::-webkit-scrollbar {
  display: none;
}

.recruiting {
  margin-left: 5%;
  margin-top: 20%;
  margin-right: 20%;
  font-size: 1.5vw;
  font-weight: 400;
}

.recruiting-content {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.content-section {
  margin-bottom: 3%;
  font-size: 1.75vw;
}

.section-content {
  margin-top: 1%;
  padding-top: 1%;
  font-size: 1.5vw;
  border-top: 2px solid #1e1c1c;
}

.section-table {
  width: 100%;
  text-align: left;
}

.section-table-row {
  font-size: 0.9vw;
}

.section-table-name {
  width: 30%;
}

.section-table-location {
  width: 20%;
}

.section-table-decription {
  width: 50%;
}

.arrow {
  font-weight: 600;
}

.acquired {
  color: #063dff;
}

a {
  text-decoration: none;
  color: #1e1c1c;
}

@media screen and (max-width: 700px) {
  html,
  body {
    overflow: auto;
  }

  .main {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
  }

  .banner {
    width: 100%;
    display: flex;
    padding-bottom: 10%;
  }

  .banner-text {
    margin-top: 10%;
  }

  .banner-name {
    font-size: 18vw;
    margin-bottom: -1%;
  }

  .banner-founders {
    font-size: 8.5vw;
    margin-left: 1%;
  }

  .banner-location {
    font-size: 8.5vw;
    color: #cdccc9;
    margin-left: 1%;
  }

  .header {
    width: 100%;
    display: block;
    font-weight: 600;
    font-size: 2.5vw;
    text-align: left;
    border-bottom: 3px solid #1e1c1c;
  }

  .ankith-words {
    width: 100%;
    margin-left: 5%;
    margin-top: 3%;
  }

  .john-words {
    width: 100%;
    margin-left: 5%;
    margin-top: 3%;
  }

  .recruiting-header {
    width: 100%;
    margin-left: 5%;
    left: 0;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .investments {
    font-size: 8vw;
  }

  .investment-content {
    overflow: auto;
    height: 100%;
  }

  .content-section {
    margin-bottom: 3%;
    font-size: 6vw;
  }

  .section-table-name {
    font-size: 1.75vw;
    width: 40%;
    font-weight: 600;
  }

  .section-table-description {
    font-size: 1.75vw;
    width: 60%;
    font-weight: 600;
  }

  .section-table-location {
    display: none;
    visibility: hidden;
  }

  .content {
    width: 100%;
  }
}
